Repository publiccodeyml/publiccode.yml, pull requests merged in 2022-05, with the labels that each got.

#148 docs(standard): remove the characters limit for features
  docs/standard/schema.core.rst
Labels: vote-draft, standard-minor-change, vote-approved

#147 docs(standard): deprecate inputTypes and outputTypes
  docs/standard/example/publiccode.yml
  docs/standard/schema.core.rst
Labels: vote-draft, standard-deprecation, vote-approved

#146 docs(standard): make genericName optional and deprecate it
  docs/standard/example/publiccode.minimal.yml
  docs/standard/example/publiccode.yml
  docs/standard/schema.core.rst
Labels: vote-draft, standard-minor-change, standard-deprecation, vote-approved

#144 docs(standard): deprecate monochromeLogo
  docs/standard/example/publiccode.yml
  docs/standard/schema.core.rst
Labels: vote-draft, standard-deprecation, vote-approved

#141 docs(standard): specify YAML 1.2 as the file format
  docs/standard/country.rst
  docs/standard/example/publiccode.minimal.yml
  docs/standard/example/publiccode.yml
  docs/standard/schema.core.rst
  docs/standard/schema.it.rst
Labels: vote-draft, standard-deprecation, vote-approved

#139 Add IO key to it.piattaforme
  docs/it/schema.it.rst
  docs/standard/schema.it.rst
Labels: vote-draft, standard-minor-change, standard-national-section, vote-approved

#97 Add Whistleblowing to the software categories list
  docs/fr/categories-list.rst
  docs/it/categories-list.rst
  docs/standard/categories-list.rst
Labels: vote-draft, standard-minor-change, vote-approved

#88 proposal to add educational-content category
  docs/it/categories-list.rst
  docs/standard/categories-list.rst
Labels: vote-draft, standard-minor-change, vote-approved
